* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;    
}
/* 导航条样式 */
nav {
    background-color: #000000;
}
a {
    text-decoration: none;
    /* color: #ffffff; */
}
a:hover, #login:hover {
    color: #62cbdd;
}
#logo {
    height: 80px;
    width: 80px;
    padding-left: 50px;
    float: left;
}
#title {
    float: left;
    /* margin: 32px 30px; */
    height: 80px;
    margin-left: 30px;
}
.pageName {
    display: inline-block;
    padding: 0 30px;
    /* margin: 0 10px; */
    height: 80px;
    line-height: 80px;
    /* vertical-align: middle; */
    /* color: #ffffff; */
}
.pageName:hover, .pageName:active {
    background-color: #572c2c;
}
#login {
    float: right;
    padding-right: 50px;
    line-height: 80px;
    color: #ecc14b;
}
nav::after, #cate::after, #food_type::after {
    content: '';
    clear: both;
    display: block;
}
/* 主体 */
#back_img {
    background: url('../images/ab.jpg');
    background-size: cover;
    /* margin: 80px 0 0; */
    /* height: 400px; */
    /* width: 100%; */
    padding: 140px;
    /* text-align: center; */
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#img_food {
    font-size: 60px;
    /* margin-top: 40px; */
}
#img_Eng {
    font-size: 32px;
    margin-top: 60px;
}
#food_type {
    /* height: 50px; */
    margin: 20px 50px 0;
}
.ul_type {
    float: left;
    width: 100px;
    height: 24px;
    padding: 10px 20px;
    position: relative;
    background-color: #df6565;
    text-align: center;
    margin-right: 10px;
    /* color: #ffffff; */
}
.food_ul {
    position: absolute;
    display: none;
    top: 44px;
    left: 0;
}
.food_name {
    display: block;
    width: 140px;
    height: 30px;
    padding: 5px 0;
    background-color: #eb7d7d;
    border-top: 1px solid #ffffff;
}
.ul_type:hover > ul {
    display: block;
    z-index: 999;
}
.food_name:hover, .food_name:active {
    background-color: #f16363;
    font-size: 18px;
    /* padding: 10px 5px 10px -5px; */
}
#food_show {
    padding: 50px 100px;
    background-color: #000000;
    /* background: url('../images/timg.jpg'); */
    text-align: center;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.exam_message {
    display: inline-block;
    width: 200px;
    margin: 50px 118px;
}
.exam_message > img {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px auto;
}
.exam_message > p {
    padding: 10px 4px;
    text-indent: 2em;
}
.exam_message > button {
    padding: 6px 20px;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 20px auto;
}
#the_food {
    background: url('../images/an.png') no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height: 600px;
}
#the_title {
    text-align: center;
    color: #000000;
    font-size: 48px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    padding: 50px 0;
    font-family: 'Times New Roman', Times, serif;
}
#the_food > p {
    color: #000000;
    font-size: 24px;
    padding: 20px 200px;
    text-indent: 2em;
}
#black_cake {
    background-color: #000000;
    padding: 50px 0;
}
#black_title {
    font-size: 48px;
    text-align: center;
    color: #e4d2b0;
    padding: 20px 0;
}
#black_cake > ul {
    text-align: center;
}
.cake {
    display: inline-block;
    margin: 30px 30px;
}
.cake > img {
    width: 120px;
    height: 120px;
}
#white_cake {
    background: url('../images/cake_back.jpg') no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 500px;
    position: relative;    
}
.pretty_cake {
    display: inline-block;
    position: absolute;
}
.pretty_cake > img {
    height: 160px;
    width: 120px;
    border-radius: 50%;

}
#pre_1 {
    top: 20%;
    left: 20%;
}
#pre_2 {
    top: 20%;
    left: 60%;
}
#pre_3 {
    top: 50%;
    left: 35%;
}
#pre_4 {
    top: 50%;
    left: 75%;
}
/* 页尾 */
footer {
    background-color: #000000;
}
#ymmy {
    font-size: 32px;
    font-family: FZShuTi;
    font-weight: 600;
    color: #ffffff;
    margin: 0 100px 20px;
    padding-top: 20px;
}
.some_mess {
    display: inline-block;
    padding: 2px 10px;
    font-family: FZShuTi;
    font-size: 20px;
    border-right: 2px solid #ffffff;
    margin-bottom: 30px;
}
.some_mess:first-child {
    margin: 0 0 0 100px;
}
.some_mess:last-child {
    border: none;
}